<!-- For help on using this template, see the blog post: https://blog.mturk.com/editing-the-survey-link-project-template-in-the-ui-7c75285105fb#.py7towsdx --><!-- HIT template: SurveyLink-v3.0 --><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="SurveyLink"><!-- Instructions -->
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="panel panel-primary">
<!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature -->
<a class="panel-heading" href="javascript:void(0);" id="collapseTrigger"><strong>Table Comprehension Instructions</strong> <span class="collapse-text">(Read them carefully)</span> </a>
<div class="panel-body" id="instructionBody">
<p>In this task, we will ask you to make inferences about information presented in a tabular form.</p>

<p>We will show you a table. Using only the table and what you believe <i>most</i> people know about the world, you should write:</p>

<ol>
	<li>One statement that is definitely true,</li>
	<li>One statement that may or may not be true, and</li>
	<li>One statement that is definitely false.</li>
</ol>

<!--<p>&nbsp;</p>-->

<p>Things to keep in mind as you write these statements. The examples below expand on these points :</p>

<ul>
	<li>Avoid using information that you may know, if you believe that it is not generally known.</li>
	<ul>
		<li>Don't use names of people or places not mentioned in the table for writing your statements. Also, don't refer to outside sources of information.</li>
	</ul>
	<li>Write sentences which would require some inference instead of literally restating information from the tables. </li>
	<ul>
		<li>Please avoid writing trivially false statements that simply contradict information in the table, or make minor changes to numerical values in the table.</li>
	</ul>
	<li>Your sentences should be self-contained. That is, even if the table were to be removed from the page, your sentences should make sense.</li>
	<li>Try to use information from different parts of the table in crafting your sentences.</li>
	<li>Don't use subjective reasoning or using your personal opinion to create the "may be true" sentences.</li>
	<li>Please write grammatically correct and complete sentences.</li>
</ul>

<!--<p>&nbsp;</p>-->

<p>The table below and the following examples clarify the instructions.</p>

<table align="center" border="1">
	<caption><strong>New York Stock Exchange</strong></caption>
	<tbody>
		<tr>
			<th scope="row" style="text-align: left;">Type</th>
			<td style="text-align: left;">Stock exchange</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Location</th>
			<td style="text-align: left;">New York City, New York, U.S.</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Founded</th>
			<td style="text-align: left;">May&nbsp;17, 1792<span>; 226 years ago</span><span style="display:none">&nbsp;(<span>1792-05-17</span>)</span></td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Owner</th>
			<td style="text-align: left;">Intercontinental Exchange</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Key&nbsp;people</th>
			<td>
			<div>
			<ul>
				<li style="text-align: left;">Jeffrey Sprecher&nbsp;<span style="font-size:85%;">(Chairman)</span></li>
				<li style="text-align: left;">Betty Liu&nbsp;<span style="font-size:85%;">(Executive Vice Chairman)</span></li>
				<li style="text-align: left;">Stacey Cunningham&nbsp;<span style="font-size:85%;">(President)</span></li>
			</ul>
			</div>
			</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Currency</th>
			<td style="text-align: left;">United States dollar</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">No. of&nbsp;listings</th>
			<td style="text-align: left;">2,400</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Market cap</th>
			<td style="text-align: left;">US$23.2 trillion</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Volume</th>
			<td style="text-align: left;">US$20.161 trillion (2011)</td>
		</tr>
		<tr>
			<th scope="row" style="text-align: left;">Indices</th>
			<td>
			<div>
			<ul>
				<li style="text-align: left;">Dow Jones Industrial Average</li>
				<li style="text-align: left;">S&P 500</li>
				<li style="text-align: left;">NYSE Composite</li>
			</ul>
			</div>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<style type="text/css">.example {
             /* list-style-type: circle; */
             background: #f1f1f9;/* rgb(251, 194, 175); */
             font-size:20px;
             padding: 30px;
             border-style: dotted;
             text-align: left;
           }
           li {
             margin-bottom: 5px;
             margin-top: 5px;
             margin-left: 10px;
           }

           .good {
             color: #22CC22;
             font-weight:  bold;                    
           }

           .bad {
             color: #FF0000;
             font-weight:  bold;
           }
</style>
<ul class="example">
	<li>Write one fact statement that is <b>definitely true</b> based on the information the table.<br />
	<table class="table">
		<thead bgcolor="white">
			<tr style="font-weight:bold;">
				<td>Bad Examples</td>
				<td>Good Examples</td>
			</tr>
		</thead>
		<tbody bgcolor="white">
			<tr>
				<td><span class="bad">✘ Avoid:</span> NYSE was founded on May 17, 1792.<br><b>Reason:</b><i> </i>While this is true, it literally restates information from the table. <i></td>
				<td><span class="good">✔ Preferred:</span> NYSE was founded in the summer of 1792.<br><b>Reason:</b><i></i>To show that this statement is true, one needs to infer that May is a  summer month in New York. <i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> The number of listings on NYSE is 2,400. <br> <b>Reason:</b><i> While this is literally true, it literally restates information from the table.</i></td>
				<td><span class="good">✔ Preferred:</span> NYSE has fewer than 3,000 stocks listed. <br> <b> Reason:</b><i> To show that this statement is true, one needs to undertsand that 2400 is less than 3000.</i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> NYSE is located in NYC.<br> <b>Reason: </b> While this is true, it literally restates information from the table.</td>
				<td><span class="good">✔ Preferred:</span> NYC has at least one stock exchange. <br><b>Reason: </b> <i>This is true because based on information in the table, we know that at least NYSE is located in the city. Perhaps there are more, but the sentence is definitely true. </i> </td>
			</tr>
		</tbody>
	</table>
	</li>
	<li>Write one statement that <b>may or may not be true</b> based on the information in the table.<br />
	<table class="table">
		<thead bgcolor="white">
			<tr style="font-weight:bold;">
				<td>Bad Examples</td>
				<td>Good Examples</td>
			</tr>
		</thead>
		<tbody bgcolor="white">
			<tr>
				<td><span class="bad">✘ Avoid:</span> NYSE has the largest market cap in the US.<br><b>Reason: </b><i>NYSE has the largest market cap in the US.</i></td>
				<td><span class="good">✔ Preferred:</span> Jeffrey Sprecher is the chairman of the intercontinental exchange.<br><b>Reason: </b><i>It is possible that the chairman of the organization is the chairman of the Intercontinental exchange (parent owner), but not necessarily.</i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> NYSE has an office in Sweden. <br><b>Reason: </b><i>While this may or may not be true, it uses the name of a place not mentioned in the table.</i> </td>
				<td><span class="good">✔ Preferred:</span> NYSE has an office outside of NYC.<br><b>Reason: </b><i>This statement could be true or could be false. There is no information about other offices of NYSE.</i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> Jeffrey Sprecher is a very good chairman of the New York Stock Exchange. <br><b>Reason: </b><i>While this may be true, it expresses a subjective / personal opinion.</i></td>
				<td><span class="good">✔ Preferred:</span> Betty Liu will succeed Jeffrey Sprecher as the chairman of the New York Stock Exchange.<br><b>Reason: </b><i>Sometimes a Vice Chairman succeeds the Chairman, but not necessarily.
</i></td>
			</tr>
		</tbody>
	</table>
	<br />
    </li>
	<li>Write one statement that is <b>definitely false</b> based on the information in the table. <i>This is different from the "maybe correct" category above because this statement is definitely false.</i></li>
	<table class="table">
		<thead bgcolor="white">
			<tr style="font-weight:bold;">
				<td>Bad Examples</td>
				<td>Good Examples</td>
			</tr>
		</thead>
		<tbody bgcolor="white">
			<tr>
				<td><span class="bad">✘ Avoid:</span> The market cap of NYSE is 25 trillion dollars. <br><b>Reason: </b><i>While this is false, the sentence literally contradicting the information from the table.</i></td>
				<td><span class="good">✔ Preferred:</span> The market cap of NYSE is twice it’s 2011 volume.<br><b>Reason: </b><i>To show that this statement is false we need to use information from different rows of the table
.</i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> Jeffrey Sprecher and Betty Liu are the Vice-Chairman and Chairman of NYSE.<br><b>Reason: </b><i>While this is false, the sentence literally contradicts information from the table.</i></td>
				<td><span class="good">✔ Preferred:</span> Jeffrey Sprecher is below Betty Liu in the NYSE organization rankings.<br><b>Reason: </b><i>This statement is false  one needs to know that a chairman  outranks a vice chairman.</i></td>
			</tr>
			<tr>
				<td><span class="bad">✘ Avoid:</span> NYSE has no owner. <br><b>Reason: </b><i>While this is false, the sentence literally contradicts information from the table.</i></td></td>
				<td><span class="good">✔ Preferred:</span> Intercontinental Exchange is owned by NYSE.</br><b>Reason: </b>
				<i>This statement changes the ownership instead of simply negating information in the table.</i></td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	</li>
</ul>
</div>
</div>
</div>
</div>
<!-- End Instructions --><!-- Survey Link Layout --><!-- End Content for Worker --><!-- Input from Worker -->

<div class="container">
  <div class="row" id="workContent">
<!--<ul class="example">-->
<!--<p align="left"><b><span class="bad">Attention</span></b></p>-->
<!--<li>Please <b>read the above instructions carefully</b> before any attempts to answer the questions.</li>-->
<!--<li>Using only the table and <b>what you believe most people know</b> about the world.</li>-->
<!--<li><b>Avoid restating information</b> from the table literally. Write statements that <b>require inference</b>. </li>-->
<!--<li>Please write <b>grammatically correct and complete sentences</b>.</li>-->
<!--<li>(Optional) To provide your feedback on the task, please use the following <a href="https://www.w3schools.com/html/">link</a>.</li>-->
<!--</ul>-->
    <div class="col-xs-12 col-sm-12 image" align="center">${table1}</div>

    <div class="col-xs-8 col-sm-8 fields">
      <div class="form-group">
        <label for="tag1">
          Write one fact statement that is <b>definitely true</b> based on the information in the table.
        </label>
        <input class="form-control" id="tag1" name="tag1" required="" size="180" type="text" />
      </div>

      <div class="form-group">
        <label for="tag2">
          Write one statement that <b>may or may not be true</b> based on the information in the table. 
        </label>
        <input class="form-control" id="tag2" name="tag2" required="" size="180" type="text" />
      </div>

      <div class="form-group">
        <label for="tag3">
          Write one statement that is <b>definitely false</b> based on the information in the table.
        </label>
        <input class="form-control" id="tag3" name="tag3" required="" size="180" type="text" />
      </div>
      <b>(Optional) To provide your feedback on the task, please use the following <a href="https://goo.gl/forms/fcu6aVrvj7aJzpij2" target="_blank" >link</a></b>
      <p>&nbsp;</p>
    </div>
    
  </div>
</div>
</section>
<!-- Please note that Bootstrap CSS/JS and JQuery are 3rd party libraries that may update their url/code at any time. Amazon Mechanical Turk (MTurk) is including these libraries as a default option for you, but is not responsible for any changes to the external libraries --><!-- External CSS references -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" integrity="sha384-IS73LIqjtYesmURkDE9MXKbXqYA8rvKEp/ghicjem7Vc3mGRdQRptJSz60tvrB6+" rel="stylesheet" /><!-- Open internal style sheet -->
<style type="text/css">#collapseTrigger{
  color:#fff;
  display: block;
  text-decoration: none;
}
#submitButton{
  white-space: normal;
}
.image{
  margin-bottom: 15px; 
}
/* CSS for breaking long words/urls */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
</style>

